<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="model.js"></script>
    <title></title>
</head>
<style type="text/css">
img {
    height: 250px
}

ul {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    height: 250px;
    margin-bottom: -249.5px;
    clear: both;
    position: relative;
}

.move{
     transition: transform 1s;
     transform: rotate(45deg) translate(300px, 500px);
}
#app {
    width: 100%
}
.buy {
    margin-top: 250px;
    margin-left: 55%;
    width: 45%
}

#stack {
    width: 50%;
    float: left;
}

#player {
    position: fixed;
    left: 50%;
    float: right
}

</style>

<body>
    <div id="app">
        <div id="stack">
            <ul v-for="card in stack">
                <li v-if="card.count===0" v-bind:title="card.name + ' used up'">
                    <img src="img/Blank.jpg">
                </li>
                <li v-else v-bind:class= "card.name" v-for="n in card.count" v-bind:title="card.count + ' left'" @click="buyCard(card)">
                    <img v-bind:src="'img/' + card.name + '.jpg'" v-bind:style="'margin-left:'+ n*1 +'px'" v-bind:data-name="card.name">
                </li>
                <button type="button" class="buy" v-bind:disabled="!card.buyable" @click="buyCard(card)">buy <span> ({{card.count}} left)</span> </button>
            </ul>
        </div>
        <div id="player">
            <div>{{player.name}}</div>
            <div>You have {{player.handStack.getValueSum()}}. You can still buy {{player.buyCount}} time(s)</div>
            <div>Your current points: {{player.pointSum}}</div>
            <button @click="finish()">Finish</button>
            <div>{{player.handStack.cards.length}}</div>
            <ul v-for="card in player.handStack.cards">
                <li>
                    <img v-bind:src="'img/' + card.name + '.jpg'">
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    
    var game = new Game(2);
    game.currentPlayer = game.players[0];
    game.currentPlayer.startNewRound();
    var app = new Vue({
        el: '#app',
        data: {
            stack: [
                {
                    name: "Copper",
                    type: "Money",
                    count: game.stack.Copper.leftCount(),
                    buyable: true
                },
                {
                    name: "Silver",
                    type: "Money",
                    count: game.stack.Silver.leftCount(),
                    buyable: true
                },
                {
                    name: "Gold",
                    type: "Money",
                    count: game.stack.Gold.leftCount(),
                    buyable: true
                },
                {
                    name: "Estate",
                    type: "Point",
                    count: game.stack.Estate.leftCount(),
                    buyable: true
                },
                {
                    name: "Duchy",
                    type: "Point",
                    count: game.stack.Duchy.leftCount(),
                    buyable: true
                },
                {
                    name: "Province",
                    type: "Point",
                    count: game.stack.Province.leftCount(),
                    buyable: true
                },
                {
                    name: "Cellar",
                    type: "Action",
                    count: game.stack.Cellar.leftCount(),
                    buyable: true
                },
                {
                    name: "Moat",
                    type: "Action",
                    count: game.stack.Moat.leftCount(),
                    buyable: true
                },
                {
                    name: "Village",
                    type: "Action",
                    count: game.stack.Village.leftCount(),
                    buyable: true
                },
                {
                    name: "Woodcutter",
                    type: "Action",
                    count: game.stack.Woodcutter.leftCount(),
                    buyable: true
                },
                {
                    name: "Workshop",
                    type: "Action",
                    count: game.stack.Workshop.leftCount(),
                    buyable: true
                },
                {
                    name: "Smithy",
                    type: "Action",
                    count: game.stack.Smithy.leftCount(),
                    buyable: true
                },
                {
                    name: "Militia",
                    type: "Action",
                    count: game.stack.Militia.leftCount(),
                    buyable: true
                },
                {
                    name: "Remodel",
                    type: "Action",
                    count: game.stack.Remodel.leftCount(),
                    buyable: true
                },
                {
                    name: "Market",
                    type: "Action",
                    count: game.stack.Market.leftCount(),
                    buyable: true
                },
                {
                    name: "Mine",
                    type: "Action",
                    count: game.stack.Mine.leftCount(),
                    buyable: true
                }
            ],
            player: game.currentPlayer
        },
        methods: {
            finish: function() {
                game.currentPlayer = game.currentPlayer.next;
                game.currentPlayer.startNewRound();
                app.player = game.currentPlayer;
                for (var i = 0; i < app.stack.length; i++) {
                    app.stack[i].buyable = true;
                }
            },
            buyCard: function(card) {
                game.currentPlayer.readyToBuy();
                var el = document.querySelector("."+ card.name + ":last-of-type");

                if (!game.currentPlayer.buy(game, card.name)) {
                    return;
                }
                card.buyable = false;
                el.setAttribute("class", "move");
                setTimeout(function() {
                    card.count = game.stack[card.name].leftCount();
                    if (card.count !== 0) {
                        card.buyable = true;
                    }
                    el.setAttribute("class", card.name);
                    if (game.currentPlayer.buyCount === 0) {
                        for (var i = 0; i < app.stack.length; i++) {
                            app.stack[i].buyable = false;
                        }
                    }
                }, 400)
            }
        }
    });
    </script>
</body>

</html>